  .post-item {
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Optional: Add background color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px;
  }

  .post-item h2 {
    font-size: 17px;
    font-weight: 700;
    font-family: 'sans-serif';
    margin-top: 0;
  }
  
  .post-item p {
    font-size: 14px;
    margin: 8px 0;
  }
  
  .post-actions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    font-size: 14px; /* Optional: Adjust font size */
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .view-btn {
    background-color: #007bff;
  }
  
  .edit-btn {
    background-color: #28a745;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darker shade for view button */
  }
  
  .view-btn:hover {
    background-color: #0056b3;
  }
  
  .edit-btn:hover {
    background-color: #218838;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .post-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow on hover */
  }
  
  /* PostItem.css */

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.error-popup {
  background-color: #dc3545;
  opacity: 0;
  animation: fadeInOut 4s forwards;
}

.success-popup {
  background-color: #28a745;
  opacity: 0;
  animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
