.post-list {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center horizontally */
    padding: 20px; /* Optional: Add padding to the container */
    width: 100%; /* Ensure it spans the full width of the viewport */
  }
  
  .post-list > * {
    width: 100%; /* Ensure child elements (e.g., PostItem) are full width */
    max-width: 1000px; /* Optional: Limit the max width of child elements */
  }

  /* PostList.css */
.pagination-controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #0056b3;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
