.pagination-controls {
    margin-top: 20px; /* Add space above the pagination controls */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content; /* Ensure it spans the full width of the container */
  }
  
  .pagination-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-controls button:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  